// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
/* You can add global styles to this file, and also import other style files */
@import '@fontsource/playfair-display/400.css';
@import '@fontsource/playfair-display/700.css';
@import '@fontsource/cormorant-garamond/400.css';
@import '@fontsource/libre-baskerville/400.css';
@import '@fontsource/lora/400.css';
@import '@fontsource/montserrat/400.css';
@import '@fontsource/crimson-text/400.css';
@import '@fontsource/eb-garamond/400.css';
@import '@fontsource/merriweather/400.css';
@import '@fontsource/cinzel/400.css';
@import '@fontsource/work-sans/400.css';
@import '@fontsource/spectral/400.css';
@import '@fontsource/alegreya/400.css';
@import '@fontsource/source-serif-4/400.css';
@import '@fontsource/dm-serif-display/400.css';
@import '@fontsource/raleway/400.css';
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #9ca3af, #6b7280);

  border-radius: 20px;

  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #6b7280, #4b5563);
}
.custom-dialog .mat-mdc-dialog-container {
  border-radius: 22px !important;
  padding: 0 !important;
  overflow: hidden;

  background: transparent !important;
  box-shadow: none !important;
}

@media (prefers-color-scheme: dark) {
  .dialog-container {
    background: rgba(30, 30, 30, 0.75);
    color: #eee;
  }

  .dialog-content {
    color: #bbb;
  }

  .cancel-btn:hover {
    background: rgba(255, 255, 255, 0.08);
  }
}
/////////////////////
/* 🌞 LIGHT */
body.light {
  /* SIDEBAR */
  --sidebar-bg: #f9fafb;
  --sidebar-text: #111827;

  /* TOPBAR */
  --topbar-bg: #ffffff;
  --topbar-text: #111827;
  --topbar-border: #e5e7eb;

  /* DASHBOARD */
  --dashboard-bg: #ffffff;
  --card-bg: #ffffff;
  --card-shadow: rgba(0, 0, 0, 0.08);

  /* TEXT */
  --text-main: #111827;
  --text-muted: #6b7280;

  /* BUTTONS */
  --btn-bg: #f3f4f6;
  --btn-hover: #e5e7eb;
  --btn-text: #111827;

  /* EDITOR */
  --editor-bg: #f9fafb;
  --toolbar-bg: #ffffff;
  --poem-bg: #ffffff;

  /* EXTRA */
  --border: #e5e7eb;
  --tag-bg: #f1f5f9;
  /* divider*/
  --divider: #353638;
}

/* 🌙 DARK */
body.dark {
  /* SIDEBAR */
  --sidebar-bg: #111827;
  --sidebar-text: #f9fafb;

  /* TOPBAR */
  --topbar-bg: #111827;
  --topbar-text: #f9fafb;
  --topbar-border: #1f2937;

  /* DASHBOARD */
  --dashboard-bg: #0f172a;
  --card-bg: #1f2937;
  --card-shadow: rgba(0, 0, 0, 0.5);

  /* TEXT */
  --text-main: #f9fafb;
  --text-muted: #9ca3af;

  /* BUTTONS */
  --btn-bg: #1f2937;
  --btn-hover: #374151;
  --btn-text: #ffffff;

  /* EDITOR */
  --editor-bg: #0f172a;
  --toolbar-bg: #1f2937;
  --poem-bg: #1f2937;

  /* EXTRA */
  --border: #374151;
  --tag-bg: #374151;
  /* divider*/
  --divider: #747a85;
}

app-gu {
  display: block; /* 🔥 ważne dla animacji */

  opacity: 0;
  transform: translateY(12px) scale(0.96);
  pointer-events: none;

  will-change: opacity, transform; /* 🔥 płynność */

  transition:
    opacity 0.2s ease,
    transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
}

app-gu.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}
